<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="refresh" content="2"/> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
<h1 >MEAT FRESHNESS</h1>
    <div style="padding:200px">
    <table border ="1px" >
        <tr>
            <td>
                <h3>{{data['value']}}</h3>
            </td>
            
        </tr>
    </table>
</div>
</body>
</html>